# OpenAI
OPENAI_API_KEY=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

# WhatsApp Cloud API
VERIFY_TOKEN=your_verify_token
WHATSAPP_TOKEN=your_whatsapp_access_token
PHONE_NUMBER_ID=your_phonesk
